/*geral*/

body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
scroll-behavior: smooth;
}

/*imagem perfil*/
.minha-imagem{
    display: flex;
    justify-content: center;
    height: 200px;
    border-radius: 50%;
}

/* MENU */
nav  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    background-color: #0f172a;
    color:#fdfdfd
}

nav ul {
display: flex;
list-style: none;
gap: 20px;
}

nav a {
color: #e8e8e8;
text-decoration: none;
margin-right: 20px;
text-transform: uppercase;
}

nav h2{
    margin-left: 20px;
}

/*animação no botão*/
nav:hover{
    background-color: #094a53;
    color: rgb(239, 113, 199);
}

a:hover{
    background-color: #094a53;
    color: rgb(239, 113, 199);
}

button:hover{
    background-color: #094a53;
    color: rgb(239, 33, 174);
}

/*ok*/

/* HEADER */
header {
height: 50vh; /*1000hv*/
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: #1e293b;
color: white;
}

/* SEÇÕES */
section {
padding: 60px 20px;
text-align: center;
background-color: #fff;
border: 2px solid red;
font-size: 20px;
}

section .perfil{
    justify-content: center;
    border: 5px solid yellow;
}



/* PROJETOS */

container-projetos {
display: flex;
justify-content: center;
flex-wrap: wrap;
background-color:#fff;
}

card {
background:#f1f5f9 ;/*#f1f5f9*/
padding: 20px;
margin: 15px;
width: 250px;
border-radius: 10px;
transition: 0.3;
}

.card:hover {
transform: translateY(-10px);
}

/* BOTÃO TOPO */
button{
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #0f172a;
    color: #fdfdfd;
    font-size: 20px;
}

button:hover{
    background-color: rgb(168, 160, 255);
    color: black;
}
/* ANIMAÇÃO */


.fade-in {
opacity: 1;
transform:translateY(20px) ;
transition: 0.6;

}

fade-in .show {
opacity: 0;
transform: translateY(0);
} 